.container {
  width: 50%;
  padding: 1rem;
  background: linear-gradient(45deg, #42099d, #000065);
  background: linear-gradient(45deg, #8585f1, #b2b2e7, #8585f1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.search_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#search_inp {
  border: none;
  outline: none;
  width: 65%;
  padding: 0.5rem 1rem;
  border-radius: 25px;
}
.search_Icon {
  width: 30px;
  color: white;
}

.main_detail_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_detail_box .image {
  width: 30%;
  max-width: 300px;
  /* height: 40vh; */
}
.main_detail_box .temp_image {
  width: 30%;
  max-width: 300px;
  height: 12vh;
}

.small_icons {
  width: 50px;
  font-size: x-large;
}

.sub_detail_box {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

@media (min-width: 600px) {
  .container {
    max-width: 500px;
    height: 80vh;
    margin: 2rem auto;
    border-radius: 25px;
  }
}
@media (max-width: 600px) {
  .container {
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  .sub_detail_box {
    margin: 5rem 0;
  }
}
